server {

        # Porta WEB
        listen 80 default_server;
        listen 443;
        listen [::]:80 default_server;

        # Diretorio dos arquivos web
        root /usr/share/nginx/html;

        # Extensões de arquivos que serão lidos
        index index.php index.html index.htm index.nginx-debian.html;

        # Nome do servidor
        server_name consultacpf.local www.consulpacpf.local;
        
        # URL amigáveis
        location / {
                try_files $uri $uri/ =404;
        }

        location ~ \.php$ {
                include snippets/fastcgi-php.conf;
                fastcgi_pass unix:/var/run/php/php7.4-fpm.sock;
        }

        location ~ /\.ht {
                deny all;
        }
}
